<!doctype html>
<html lang="en" ng-app="droneCafe">
<head>
    <meta charset="UTF-8">
    <title>Drone cafe - Priz Aleksey</title>

    <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css">

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <base href="/">
</head>
<body>


<!--<app-navbar></app-navbar>-->
<kitchen-navbar></kitchen-navbar>

<div class="row" ng-controller="kitchenCtrl">
    <div class="col s6 push-s6">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Изготавливаются</h4></li>
            <li class="collection-item" ng-repeat="dish in dishesInProcess">
                <div class="conteiner" style="height: 37px;">
                    <span>
                       {{dish.name}} - {{dish.userName}} ({{dish.visitorsEmail}})
                    </span>
                    <a class="waves-effect waves-light btn right valign-wrapper" ng-click="remove(dish)">
                        Готово
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="col s6 pull-s6">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Заказаны</h4></li>
            <li class="collection-item" ng-repeat="dish in orderedDishes">
                <div class="conteiner" style="height: 37px;">
                    <span>
                       {{dish.name}} - {{dish.userName}} ({{dish.visitorsEmail}})
                    </span>
                    <a class="waves-effect waves-light btn right valign-wrapper" ng-if="!dish.ordered" ng-click="startCooking(dish); dish.ordered=true">
                        Начать готовить
                    </a>
                    <a class="waves-effect waves-light btn right valign-wrapper disabled" ng-if="dish.ordered">
                        Готовится
                    </a>

                </div>
            </li>
        </ul>
    </div>
</div>


<!--<ui-view></ui-view>-->
<app-footer></app-footer>


<!--<script src="app.js"></script>-->
<!--<script src="directives/appNavbar/navbar.js"></script>-->
<!--<script src="directives/loginForm/loginForm.js"></script>-->
<!--<script src="directives/cafeMenu/cafeMenu.js"></script>-->
<!--<script src="directives/userBalance/userBalance.js"></script>-->
<!--<script src="directives/appFooter/appFooter.js"></script>-->
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
<script src="node_modules/angular-route/angular-route.js"></script>

<script src="src/app.js"></script>
<script src="src/directives/appNavbar/navbar.js"></script>
<script src="src/directives/loginForm/loginForm.js"></script>
<script src="src/directives/cafeMenu/cafeMenu.js"></script>
<script src="src/directives/userBalance/userBalance.js"></script>
<script src="src/directives/appFooter/appFooter.js"></script>
<script src="src/directives/kitchenNavbar/kitchenNavbar.js"></script>

<script src="src/controllers/cafeMenuCtrl/cafeMenuCtrl.js"></script>
<script src="src/controllers/kitchenCtrl.js"></script>

<script src="/socket.io/socket.io.js"></script>


</body>
</html>