<div class="row">
    <div class="col s6 ">
        <div class="card-panel teal">
          <span class="white-text">
              <h4>Имя : {{factory.userName}}</h4>
              <h5>Баланс : {{factory.balance}} Галактических кредитов</h5>
              <a class="waves-effect waves-light btn blue" ng-click="getMoney()">
                  <i class="material-icons left">attach_money</i>Пополнить на 100 ГК
              </a>
          </span>
        </div>
        <ul class="collection" ng-if="menu">
            <li ng-repeat="dish in menu" class="collection-item avatar">
                <i class="material-icons circle blue">{{dish.name[0].toUpperCase()}}</i>
                <span class="title">{{dish.name}}</span>
                <p>{{dish.price}} рублей.</p>
                <a href="#!" class="secondary-content  btn" ng-click="putDishToOrder(dish)">Выбрать</a>
            </li>
        </ul>
    </div>
    <div class="col s6">
        <h3>Ваш заказ:</h3>

        <span ng-if="!order[0]">Выберите блюдо</span>

        <ul class="collection" ng-if="order[0]">
            <li ng-repeat="dish in order" class="collection-item">
                 {{dish.name}}

                    <div class="chip teal white-text" ng-if="dish.status === 'Выбрано' && isEnough(dish.price)" ng-click="createOneOrder(dish)">
                        Заказать
                    </div>

                    <div class="chip grey white-text" ng-if="dish.status === 'Выбрано' && !isEnough(dish.price)">
                        Пополнить на {{dish.price - factory.balance}} ГК
                    </div>

                    <div class="chip light-blue white-text" ng-if="dish.status !== 'Выбрано'" >
                        {{dish.status}}
                    </div>


            </li>
        </ul>

        <span ng-if="orderValue">Сумма заказа : {{orderValue}} ГК</span>

        <!--<a href="#!" class="secondary-content  btn" ng-if="order[0]" ng-click="createOrder()"> Заказать</a>-->
        <!--<a href="#!" class="secondary-content  btn disabled" ng-if="!order[0]"> Заказать</a>-->

        <!--<div class=" teal white-text" ng-if="order">-->
            <!--{{order}}-->
        <!--</div>-->


    </div>
</div>


